h2{
  font-size: 40px;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #F7F7F7;
  text-align: center !important;
}
h3{
  color: #F7F7F7;
  font-size: 24px;
  margin: 0 0 20px;
  text-align: center !important;
}
p{
  color: #F7F7F7;
}