@import url(/src/styles/text.scss);
.portfolio{
  width: 99vw;
  padding-top: 90px;
  padding-bottom: 20px;
  background: rgba(28,51,26,1);
  background: linear-gradient(0deg, rgba(28,51,26,1) 0%,
          rgba(41,74,37,1) 100%);
}